In [1]:
import numpy as np

In [2]:
import pandas as pd

#Question 1

In [3]:
pd.__version__

'2.0.3'

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-18 23:32:24--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8002::154, 2606:50c0:8001::154, 2606:50c0:8000::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8002::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: 'housing.csv.2'

     0K .......... .......... .......... .......... ..........  3% 2.92M 0s
    50K .......... .......... .......... .......... ..........  7% 5.76M 0s
   100K .......... .......... .......... .......... .......... 10% 3.98M 0s
   150K .......... .......... .......... .......... .......... 14% 15.1M 0s
   200K .......... .......... .......... .......... .......... 17% 7.45M 0s
   250K .......... .......... .......... .......... .......... 21% 8.90M 0s
   300K .......... .......... .......... .......... .......... 25% 5.83M 0s
   350K .......... .......... .......... .......... .......... 28% 24.6M 0s
   400K .......... .......... .......... .......... .......... 32% 5.22M 0s
   450K .......... .......... .......... .......... .......... 35% 11.8M 0s
   500K .......... .......... .......... .......... .......... 39% 15.4M 0s
   550K .......... .......... .......... .......... .......... 43% 15.7M 0s
   600K .......... .......... .......... .......... .......... 46% 24.8M 0s
   650K .......... .......... .......... .......... .......... 50% 8.06M 0s
   700K .......... .......... .......... .......... .......... 53% 11.6M 0s
   750K .......... .......... .......... .......... .......... 57% 12.2M 0s
   800K .......... .......... .......... .......... .......... 61% 23.1M 0s
   850K .......... .......... .......... .......... .......... 64% 11.9M 0s
   900K .......... .......... .......... .......... .......... 68% 12.0M 0s
   950K .......... .......... .......... .......... .......... 71% 7.71M 0s
  1000K .......... .......... .......... .......... .......... 75% 22.4M 0s
  1050K .......... .......... .......... .......... .......... 79% 7.85M 0s
  1100K .......... .......... .......... .......... .......... 82% 22.8M 0s
  1150K .......... .......... .......... .......... .......... 86% 7.39M 0s
  1200K .......... .......... .......... .......... .......... 89% 24.1M 0s
  1250K .......... .......... .......... .......... .......... 93% 11.7M 0s
  1300K .......... .......... .......... .......... .......... 97% 23.6M 0s
  1350K .......... .......... .......... ..........           100% 9.11M=0.1s

2023-09-18 23:32:25 (9.33 MB/s) - 'housing.csv.2' saved [1423529/1423529]

In [5]:
df=pd.read_csv('housing.csv')

#Question 2

In [6]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

#Question 3

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

#Question 4

In [8]:
df['ocean_proximity'].nunique()

5

#Question 5

In [9]:
df.groupby('ocean_proximity').median_house_value.mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

#Question 6

In [10]:
mn=df['total_bedrooms'].mean()

In [11]:
mn

537.8705525375618

In [12]:
df1=df.fillna(mn)

In [13]:
df1.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [14]:
mn1=df1['total_bedrooms'].mean()

In [15]:
mn1

537.8705525375617

#Question 7

In [16]:
df2=df[df['ocean_proximity']=='ISLAND']

In [17]:
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [18]:
df2=df2[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [19]:
df2

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [20]:
X=df2.values

In [21]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [22]:
XTX=np.dot(X.T, X)

In [23]:
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [24]:
invXTX=np.linalg.inv(XTX)

In [25]:
invXTX

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [26]:
y=np.array([950, 1300, 800, 1000, 1300])

In [27]:
y

array([ 950, 1300,  800, 1000, 1300])

In [28]:
w=np.dot(np.dot(invXTX,X.T), y)

In [29]:
w

array([23.12330961, -1.48124183,  5.69922946])